<div style="text-align: center;">
  <%= will_paginate model %>
</div>

<%= form_with(method: :get, local: true) do |form| %>
  <%= form.select :per_page, options_for_select(ApplicationHelper::PER_PAGE_OPTIONS, model.per_page) %>
  <%= form.submit %>
<% end %>
