<% if is_admin? %>
  <h1>Help page</h1>

  <div class="help-div">
    <h2>Navigation Bar</h2>
    <p><b>Manage Teams</b> - Allows you to create and delete teams.</p>
    <p><b>Manage Users</b> - Allows you to create and delete users.</p>
    <p><b>Feedback & Ratings</b> - Takes you to the Feedback & Rating page. Shows Feedback on Team and associated ratings.</p>
    <p><b>User Verifications</b> - Allows you to upload a CSV file verifying which users should be on which teams.</p>
  </div>

  <div class="help-div">
    <h2>Admin Code</h2>
    <p>The admin code is used to allow other professors to sign up with admin rights. To use, send the
    code to an admin, and instruct them to enter the code into the 'Team/admin code' field upon signup.</p>
    <p>In case the code is leaked, select 'Regenerate Code' to reset & regenerate the admin code. When this is done,
    the previous code will be invalidated.</p>
  </div>

  <div class="help-div">
    <h2>Team Summary View </h2>
    <%= render 'priority_ratings_help' %>
    <p><b>Team Name</b> - The assigned name to the team.</p>
    <p><b>Team Code</b> - Provide this code to students prior to signup, and instruct them to enter the code into the 
      'Team/admin code' field upon signup so they are added to the appropriate team.</p>
    <p><b>Team Members</b> - List of team members.</p>
    <p><b>View Team Aggregated Feedback</b> - Show aggregated team feedback.</p>
  </div>

  <div class="help-div">
    <h2> Feedback & Ratings Filter </h2>
    <p>There are 8 filter options:
      <ul>
        <li><b>First Name</b> - Filters for all first names that begin with your search input</li>
          <ul>
            <li>Type in the first name of the student</li>
            <li>Case-insensitive</li>
            <li>For example, if you searched "Ben", it will return any name beginning with "Ben" such as "Ben", "Benjamin" and "Benji"</li>
          </ul>
        <li><b>Last Name</b> - Filters for all last names that begin with your search input</li>
          <ul>
            <li>Works in the same way as 'First name'</li>
          </ul>
        <li><b>Team Name</b> - Filters for selected team</li>
          <ul>
            <li>Select a team name from the dropdown</li>
            <li>All team names are within the dropdown selection</li>
          </ul>
        <li><b>Participation Rating</b> - Filters for selected range of participation ratings</li>
          <ul>
            <li>For example, if 2 and 4 are selected in the 'start' and 'end' dropdowns respectively, any feedback with a participation rating of 2, 3 or 4 will be shown.</li>
          </ul>
        <li><b>Effort Rating</b> - Filters for selected range of effort ratings</li>
        <li><b>Punctuality Rating</b> - Filters for selected range of punctuality ratings</li>
        <li><b>Priority</b> - Filters for selected priority</li>
        <li><b>Timestamp</b> - Filters for all timestamps within the selected time range</li>
          <ul>
            <li>Start and end dates are included in the range</li>
            <li>By default, the end date is today's date</li>
          </ul>
      </ul>
    </p>
    <p>
      Click the filter button to apply the filters.
    </p>
    <p>
      After filters are applied, they will show underneath. Click the reset button to clear the applied filters.
    </p>
    <p>
      You may select from any number of filter options. If any options are left blank, they are ignored.
    </p>
  </div>

  <div class="help-div" id="user_verification_help">
    <h2>User Verifications</h2>
    <p>
      The uploaded CSV file must precisely follow the format in the attached image, containing headers of
      <b>"team_code"</b> and <b>"email"</b>, with all subsequent rows listing the data.
    </p>
    <div style="text-align: center;">
      <%= image_tag "user_verification_upload_format.png", :style => "border: 1px solid black;" %>
    </div>
    <p>
      If an incorrect user verification is assigned in the CSV file and uploaded, to correct this mistake just
      update the CSV accordingly and reupload the file; all user verifications are deleted/replaced once a new
      CSV is uploaded.
    </p>
    <p>A few errors that you may encounter when uploading a CSV file:</p>
    <ul>
      <li><b>Invalid file type. Must be of type CSV</b> - When an incorrect file type is uploaded</li>
      <li><b>Email is invalid</b> - When a row in the CSV file does not have a valid email (e.g. test.com)</li>
      <li><b>Email can't be blank</b> - When a row in the CSV file does not have an email present</li>
      <li><b>Team must exist</b> - When a row in the CSV file references an invalid team_code</li>
      <li>
        <b>Email and Team combination has already been specified</b> -
        When 2 rows in the CSV file have an identical user-team combination
      </li>
    </ul>
    <p>
      Once the user verifications are correctly uploaded, only students who are supposed to be on a given team
      will be able to signup for that specific team.
    </p>
  </div>

  <p><%= link_to 'Back', :back %></p>
<% end %>