<%= form_with(method: :post, local: true) do |form| %>

<br>
<br>

  <div class="field">
    <%= form.label "Temporary Password" %>
    <%= form.text_field :temp_pass, value: code, readonly:true %>
  </div>

  <div class="actions">
    <%= form.submit "Update " + user.first_name + "'s password" %>
  </div>

<% end %>
